body {
    margin: 0;
}
nav {
    display: flex;
    height: 90px;
    background-color: aquamarine;
    justify-content: space-between;
}
h5 {
    margin: 0;
    text-align: center;
    border-bottom: 3px solid black;
}
h3 {
    margin: 0;
    color: rgb(236, 35, 79);
}

.title {
    font-size: 80px;
}
span {
    color: red;
}

.clock {
    display: flex;
    font-size: 22px;
    text-align: center;
}
.update{
    border: 3px solid black;
    width: 150px;
    height: 80px;
}
.current{
    border: 3px solid black;
    width: 150px;
    height: 80px;
    margin-left: 10px;
}

.summary {
    border: 3px solid black;
    height: 90px; 
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.info {
    display: flex;
    height: 450px;
}
.legend {
    flex: 1;
}
.row {
    flex: 2;
}

/* D3 */
.map {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
  }
  
.legendV{
    fill: rgb(113, 128, 104);
}
