body {
    margin: 0;
}
nav {
    display: flex;
    height: 90px;
    background-color: black;
    justify-content: space-between;
}
h5 {
    margin: 0;
    text-align: center;
    border-bottom: 3px solid rgb(109, 105, 105);
}
h2 {
    margin: 0;
    color: rgb(14, 5, 5);
}

.title {
    margin-left: 10px;
    font-size: 80px;
    color: rgb(154, 159, 163);
    text-shadow: 6px 6px 0px rgba(214, 208, 208, 0.2);
}
.title span {
    font-size: 80px;
    color: rgb(154, 159, 163);
    text-shadow: 6px 6px 0px rgba(214, 208, 208, 0.2);
}
span {
    color: rgb(248, 46, 10);
}

.clock {
    display: flex;
    font-size: 22px;
    text-align: center;
    margin: 5px;
}
.update{
    width: 150px;
    height: 80px;
    color: rgb(154, 159, 163);
}
.visitor{
    width: 150px;
    height: 80px;
    color: rgb(154, 159, 163) !important;
    margin-right: 10px !important;
}
.visitor p {
    margin-top: 10px !important;
}
.summary {
    border: 3px solid black;
    margin-top:3px;
    border-radius: 10px;
    height: 90px; 
    display: flex;
    font-size: 30px;
}
.me {
    margin: 5px;
    text-align: center;
    flex: 1;
    font-size: 20px;
}
.overall{
    display: flex;
    flex: 2;
    justify-content: space-evenly;
}

.info {
    display: flex;
    height: 450px;
}
.legend {
    flex: 1;
    height: 600px;
}
.search {
    height: 50px;
    margin:5px;
}
.search input {
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    outline: none;
}
.search span {
    color: black;
    margin-left: 5px;
    font-size: 20px;
}

.countries {
    height: 100%;
    overflow-x: none;
    overflow-y: scroll;
}
.row {
    flex: 2;
}

/* D3 */
.map {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
  }
  
.legendV{
    fill: rgb(198, 198, 236);
    stroke: black;
}

.time {
    fill: rgb(68, 68, 173);
    stroke: black;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    color: black;
    font-weight: 900;
}
.buttons span{
    color: black;
}
#play {
    cursor: pointer;
}
#reset {
    cursor: pointer;
}
button {
    height: 30px;
    margin: 10px;
    width: 60px;
    border-radius: 10px;
    outline: none;
    background-color: black;
    color: white;
    padding: 3px;
    font-size: 15px;
    text-shadow: 1px 1px 0px rgb(158, 141, 141);
    border: 3px solid rgb(126, 122, 122);
}

#slider-div {
    margin-top: 3px;
    width: 300px;
    text-align: center;
}

.slider {
    width: 100%;
}

@media screen and (max-width: 940px) {
    .me {
        display: none;
    }
    .overall {
        font-size: 25px;
        text-align: center;
    }
}

@media screen and (max-width: 1030px) {
    .title span{
        display: none;
    }
    .search span {
        display: none;
    }
}


