html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    /* font-family: 'Roboto'; */
    font-family: 'Oswald';
}
nav {
    display: flex;
    height: 90px;
}
h5, p {
    margin: 0;
    padding: 5px;
}

h2 {
    margin: 0;
    color: rgb(14, 5, 5);
}
.title {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}
.earth {
    align-items: center;
    display: flex;
    font-size: 55px;
}
.control {
    flex: 1;
    display: flex;
    justify-content: center;
}

.number {
    font-size: 35px;
    font-weight: 600;
}

.footer {
    display: flex;
    margin-top: 0.5rem;
    justify-content: flex-end;
}
.visitor {
    display: flex;
    width: 10rem;
}
.update {
    display: flex;
    width: 10rem;
}
.updateClock {
    padding: 3px;
}
.me {
    width: 10rem;
}

a {
    font-size: 20px;
    margin: 0.8rem;
}

.info {
    display: flex;
    flex: 2;
    box-shadow: 0px 0px 3px rgba(0,0,0,.15);
}

.countries {
    height: 40rem;
    flex: 1;
    margin: 2px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.15);
    overflow-x: none;
    overflow-y: scroll;
}
.dateTime {
    flex: 0.1;
    background: rgba(19, 18, 18, 0.883);
    max-height: 40rem;
    overflow-x: none;
    overflow-y: scroll;
}
.active2 {
    display: flex;
    color: white !important;
}
.active2:before {
    content: 'ㅡ'; 
    margin-top: -0.1rem;
}
::-webkit-scrollbar {
    display: none;
}
.row {
    flex: 3;
}

.days {
    color: rgb(211, 207, 207);
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
    cursor: pointer;
}

.mth {
    color: rgb(211, 207, 207);
    font-size: 1rem;
    text-align: left;
    padding-left: 0.2rem;
    padding-top: 1rem;
}

/* D3 */
.map {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
  }
  
.legendV{
    fill: rgb(198, 198, 236);
    stroke: black;
}

.time {
    fill: rgb(138, 134, 134);
}

#play {
    background-color: black;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
#reset {
    border: 3px solid black;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
button {
    margin: 1rem;
    width: 11rem;
    height: 2.8rem;
    outline: none;
}

.hidden {
    display: none;
}

.active {
    border-right: 5px solid red;
}





